<!--<app-heroes-detail [hero]="selectedHero"></app-heroes-detail>-->
<h2>My heroes</h2>

<router-outlet></router-outlet>

<ul class="heroes">
  <li
    *ngFor="let hero of heroes; let i = index; let odd = odd; let even = even">
    <app-hero-button [class.selected]="selectedHero === hero" (buttonClicked)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero | heroName: 13: "smth"}}
      <span *ngIf="odd"> - odd</span>
      <span *ngIf="even"> - even</span>
    </app-hero-button>
  </li>
</ul>

<!--

<div>
  <label for="name">Name:</label>
  <input id="name" [(ngModel)]="selectedHero.name" (ngModelChange)="logChange($event)"/>
</div>-->
